.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.todo-item:hover {
  background-color: whitesmoke;
}

.todo-item:hover .todo-delete {
  visibility: visible;
}

.mat-checkbox-checked {
  color: grey;
  text-decoration: line-through;
}

.todo-delete {
  color: grey;
  visibility: hidden;
}
